svg.clock {
    stroke-linecap: round;
    margin: 0 20px;
}

.face {
    stroke: #aac;
    stroke-width: 6;
}

.hourtick.face {
}

.minutetick.face {
    stroke-width: 2;
}

.hand {
    stroke: #336;
    stroke-width: 8;
}

.hour.hand {
    stroke-width: 12;
}

.minute.hand {
}

.second.hand {
    stroke: red;
    stroke-width: 4;
}

.clocks-wrap{
    display: flex;
    justify-content: space-around;
}

.dates-wrap{
    display: flex;
    width: 100%;
}

.selected-date, .dates-history{
    flex-grow: 1;
}

ul{
    padding: 0;
    margin: 0;
    text-decoration: none;
}


ul > li{
    list-style: none;
    margin: 5px 0;
}

.a{
    display: inline-block;
}

.location{
    font-size: 18px;
    text-align: center;
}