<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/clocks.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <title>Clocks</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment-with-locales.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.13/moment-timezone-with-data-2012-2022.min.js"></script>
    <script src='./dist/handlebars-v4.0.10.js'></script>
</head>
<body>
    <div class = 'clocks-wrap'>
    </div>
    <p>Date: <input type="text" id="datepicker"></p>
    <div class='dates-wrap'>
        <div class='selected-date'></div>
        <div class='dates-history'></div>
    </div>
    <script src="./dist/bundle.js"></script>
    <script id="entry" type="text/x-handlebars-template">
        <div class="entry">
            <div class="raw-date">Raw: {{raw}}</div>
            <div class="relative-date">Relative: {{relative}}</div>
            <div class="calendar-date">Calendar: {{calendar}}</div>
        </div>
    </script>
    <script id='list' type="text/x-handlebars-template">
        <ul class='list'>
            <div>Selected dates history: </div>
            {{#each dates}}
                <li>{{ this }}</li>
            {{/each}}
        </ul>
    </script>
</body>
</html>